body{
  margin: 0;
  .flash{
    .success{
        background-color: #a1fcfc;
        width: 100%;
        text-align: center;
        height: 30px;
        position: fixed;
        p{
          margin-top: 2px;
        }
    }
    .alert{
        position: fixed;
        background-color: rgb(252, 138, 138);
        text-align: center;
        height: 30px;
        width: 100%;
        p{
          margin-top: 2px;
        }
    }
  }
  .signup-container{
    width: 50%;
    margin:0 auto;
    padding-top: 200px;
  }
}
