body{
  margin: 0;
  .flash{
    .success{
        background-color: #a1fcfc;
        width: 100%;
        text-align: center;
        height: 30px;
        position: fixed;
        p{
          margin-top: 2px;
        }
    }
    .alert{
        position: fixed;
        background-color: rgb(252, 138, 138);
        text-align: center;
        height: 30px;
        width: 100%;
        p{
          margin-top: 2px;
        }
    }
  }
  header{
    display: flex;
    border-bottom: 1px solid black;
    height: 50px;
    .title{
      margin: auto 10px;
      margin-right: 100px;
      margin-left: 100px;
      font-size: 25px;
      color: black;
      text-decoration: none;
    }
    .header-icons{
      display: flex;
      margin: auto 0;
      margin-left: auto;
      margin-right: 100px;
      a{
        text-decoration: none;
        color:black;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 2px;
        &:hover{
          opacity: 0.6;
        }
      }
      button{
        background-color: white;
        margin-left: 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        &:hover{
          opacity: 0.6;
        }
      }
    }
  }
  .signup-container{
    width: 50%;
    margin:0 auto;
    padding-top: 200px;
  }
}
